<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="at.campus02.asy.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- permission  internet access webView -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/campus02_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="donut">
        <!--    android:icon="@mipmap/dt_app_icon"-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrageAnzeigenActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".InfoActivity" />
        <activity
            android:name=".FrageErstellenActivity"
            android:label="@string/title_activity_frage_erstellen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EinstellungenActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".DetailscreenActivity"
            android:label="@string/title_activity_detailscreen"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MaxFragenActivity" />
        <activity android:name=".BenutzernameActivity" />
        <activity android:name=".SchwierigkeitsgradActivity" />
        <activity android:name=".UmkreisActivity" />
    </application>

</manifest>